@import './font-size.scss';

$yellow: #ffa400;

@font-face {
    font-family: 'Roboto Condensed Light';
    src: url(../fonts/roboto-condensed-light.ttf) format('truetype');
}

.container {
    max-width: 1300px;
    // padding: 0 7.12%;
    margin: auto;
}

.btn.btn-primary {
    border-width: 2px;
    border-color: #225baf;
    background-color: #225baf;
    &:hover, &:active, &:focus {
        background-color: transparent;
        color: #225baf;
    }
}
.top-header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 12px;
    border-bottom: 2px solid $yellow;

    .parent {
        width: 100%;
        .par {
            padding-top: 3px;
        }
    }

    .container {
        display: flex;
    }

    .logo {
        padding-right: 20px;
        border-right: 3px solid white;
        display: inline-block;

        img {
            max-width: 100px;
            padding: 0 2px;
            margin-top: 2px;
        }
    }
    
    .main-text {
        margin-top: -3px;
        font-size: 24px;
        line-height: 30px; 
        color: #ffffff;
        font-family: "Roboto";
        padding-left: 30px;
        font-weight: 900;
    }

    .right-sidebar {
        span {
            padding-right: 8px;
            a {
                text-decoration: none;
                font-size: 19px;
                font-family: "Roboto";
                color: white;
                font-weight: 900;
                padding-top: 2px;
                padding-left: 8px;
    
                &:hover, &:active, &:focus {
                    color: $yellow;
                }
            }
        }
        img {
            max-height: 23px;
        }        
    }

    .languages {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;

        li {
            text-transform: uppercase;
            font-size: 20px;
            font-family: "Roboto";
            font-weight: 900;
            padding: 0 7px;

            &.active {
                a {
                    color: $yellow;
                    border-bottom: 3px solid $yellow;
                }
            }

            a {
                color: white;
                padding: 0 2px;
                &:hover, &:active, &:focus {
                    color: $yellow;
                    text-decoration: none;
                }
            }
        }
    }

    .button-parent {
        margin-top: -10px;
        button {
            margin-top: 5px;
            margin-right: 8px;
            background-color: $yellow;
            color: black;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            border: 1px solid $yellow;
            font-size: 16px;
            font-family: "Roboto";
            font-weight: 400;
            transition: all .3s ease;
            &:hover, &:active, &:focus {
                background-color: transparent;
                color: $yellow;
                cursor: pointer;
                border-bottom-color: transparent;
            }
        }
    }
}

header nav {
    &.navbar {
        background-color: #4c4c4c;
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-nav {
        li.nav-item {
            margin: 0 20px;
            a.nav-link {
                color: white;
                font-family: "Roboto";
                font-weight: 400;
                font-size: 17px;
                text-transform: uppercase;
                transition: all .3s ease;
                padding-top: 5px;
                padding-bottom: 5px;
                &:hover, &:active, &:focus {
                    color: $yellow;
                }
            }
            &.active {
                a.nav-link {
                    color: $yellow;
                    background-color: rgba(0,0,0,.5);
                }
            }
        }
    }
}

@media(max-width: 1200px) {

    header nav {
        &.navbar {
        }
    
        .navbar-nav {
            li.nav-item {
                a.nav-link {
                    font-size: 16px;
                }
            }
        }
    }

    .top-header {
    
        .parent {
        }
    
        .container {
        }
    
        .logo {
    
            img {
                max-width: 92px;
            }
        }
        
        .main-text {
            font-size: 21px;
            line-height: 26px;
        }
    
        .right-sidebar {
            span {
                a {
                    font-size: 17px;
                }
            }
            img {
                max-height: 21px;
            }        
        }
    
        .languages {
    
            li {
                font-size: 17px;
            }
        }
    
        .button-parent {
            margin-top: -5px;
            button {
            }
        }
    }
    

    
}

@media(max-width: 768px) {
    .top-header {
        .logo {
            padding-right: 10px;
        }
        
        .main-text {
            padding-left: 15px;
        }
    }
}

@media(max-width: 600px) {
    .top-header {
        
        .logo {
            border-right: none;
        }
        
        .main-text {
            display: none;
        }
        .languages {
    
            li {
                font-size: 16px;
            }
        }
    }    
}

// end header

.main-container {
    padding-top: 70px;
    background-image: url(../images/house.jpg);
    background-position: center;
    height: calc(100vh - 200px);
    max-height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    h2, button {
        text-transform: uppercase;
    }
    h2 {
        @include font-size(19px);
        color: #ffa400;
        font-family: "Roboto";
        font-weight: 900;
        text-align: center;
    }
    form {
        h2 {
            padding-bottom: 10px;
        }
        padding: 35px 30px;
        width: 100%;
        max-width: 357px;
        background-color: #4c4c4c;
        button {
            font-family: "Roboto Black";
            text-align: center;
            @include font-size(22px);
            width: 100%;
            border-radius: 10px;
            padding: 8px;
            line-height: normal;
        }
        input {
            border-radius: 10px;
            border: 2px solid $yellow;
            color: #000000;
            font-family: "Roboto Condensed";
            font-weight: 300;
            @include font-size(16px);
            margin-bottom: 15px;
            padding: 12px 17px;
        }
    }
    .banner {
        width: 100%;
        max-width: 504px;
        padding: 30px;
        font-family: "Roboto";
        background: rgba(255,255,255,1);
        background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.62) 50%, rgba(255,255,255,0.26) 98%, rgba(255,255,255,0.26) 98%, rgba(255,255,255,0.24) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(255,255,255,0.62)), color-stop(98%, rgba(255,255,255,0.26)), color-stop(98%, rgba(255,255,255,0.26)), color-stop(100%, rgba(255,255,255,0.24)));
        background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.62) 50%, rgba(255,255,255,0.26) 98%, rgba(255,255,255,0.26) 98%, rgba(255,255,255,0.24) 100%);
        background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.62) 50%, rgba(255,255,255,0.26) 98%, rgba(255,255,255,0.26) 98%, rgba(255,255,255,0.24) 100%);
        background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.62) 50%, rgba(255,255,255,0.26) 98%, rgba(255,255,255,0.26) 98%, rgba(255,255,255,0.24) 100%);
        background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0.62) 50%, rgba(255,255,255,0.26) 98%, rgba(255,255,255,0.26) 98%, rgba(255,255,255,0.24) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
        h2 {
            @include font-size(23px);
            color: #225baf;
            line-height: 30px;
            font-weight: 900;
            text-align: center;
            padding: 0 28px;
            font-family: "Roboto";
        }
        p {
            color: #474644;
            font-weight: 400;
            text-align: center;
            @include font-size(23px);
            line-height: 30px;
            margin-top: 21px;
            text-transform: uppercase;
            line-height: 25px;
        }
    }

}

@media(max-width: 1200px) {
    .main-container {
        form {
            max-width: 330px;
        }
        .banner {
            max-width: 450px;
            h2, p {
                line-height: 25px;
            }
        }    
    }
}

@media(max-width: 920px) {
    .main-container {
        background-size: cover;
        max-height: none;
        min-height: max-content;
        .container {
            flex-direction: column;
        }
        .banner {
            margin-bottom: 20px;
        }    
    }
}

@media(max-width: 530px) {
    .main-container {
        .banner {
            h2, p {
                line-height: 22px;
            }
        }    
    }
}

@media(max-width: 370px) {
    .main-container {
        form {
            padding: 30px 15px;
            h2, button {
                line-height: 20px;
            }
        }
        .banner {
            padding: 30px 15px;
        }    
    }
}

// end main-container

.benefits {
    padding-top: 95px;
    padding-bottom: 70px;
    h2 {
        font-family: "Roboto";
        font-weight: 900;
        text-align: center;
        color: #225baf;
        text-transform: uppercase;
        @include font-size(1.9rem);
        margin-bottom: 2px;
    }
    p {
        color: #474644;
        font-family: "Roboto Condensed";
        font-weight: 300;
        text-align: center;
        @include font-size(21.5px);
    }

    .img-item-price {
        max-height: 67px;
    }

    .h-cont {
        margin-bottom: 20px;
        max-width: 380px;
    }

    .inform {
        h5 {
            color: #ffa400;
            font-family: "Roboto";
            font-weight: 400;
            @include font-size(22px);
            margin-bottom: 0;
            text-transform: uppercase;
            position: relative;
            border-bottom: 2px solid $yellow;
        }

        p {
            max-width: 380px;
            color: #474644;
            font-family: "Roboto Condensed";
            font-weight: 300;
            @include font-size(17px);
        }
        &.left {
            padding-right: 170px;

            p {
                text-align: right;
            }
            h5 {
                margin-left: 15px;
                &:after {
                    content: '';
                    background-color: #ffa400;
                    width: 170px;
                    height: 2px;
                    right: -170px;
                    position: absolute;
                    bottom: -2px;
                }
            }
        }
        &.right {
            padding-left: 170px;

            .h-cont {
                margin-left: auto;
            }

            p {
                text-align: left;
                margin-left: auto;
            }
            h5 {
                margin-right: 15px;
                &:after {
                    content: '';
                    background-color: #ffa400;
                    /* display: block; */
                    width: 170px;
                    height: 2px;
                    left: -170px;
                    position: absolute;
                    bottom: -2px;
                }
            }
        }
    }
    .inform-center {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        img {
            max-width: 378px;
            border-radius: 100%;
            border: 2px solid $yellow;
        }
    }
    
}

@media(max-width: 1250px) {
    .benefits {    
        .inform-center {
            img {
                max-width: 348px;
            }
        }        
    }
}

@media(max-width: 1200px) {
    .benefits {
        .inform {
            &.left {
                padding-right: 160px;
            }
            &.right {
                padding-left: 160px;
            }
        }
        .inform-center {
            img {
                max-width: 315px;
                margin-top: 35px;
            }
        }
        .img-item-price {
            max-height: 55px;
        }        
    }
}

@media(max-width: 991px) {
    .benefits {    
        .h-cont {
            max-width: 100%;    
        }    
        .inform {
            margin-bottom: 35px;
            h5 {
                border-bottom: none;
                &:after {
                    display: none !important;
                }
            }
    
            p {
                max-width: 100%;
            }
            &.left {
                padding-right: 0;
                &:first-child {
                    margin-top: 350px;
                }
                > div {
                    justify-content: center !important;
                }    
                p {
                    text-align: center;
                }
            }
            &.right {
                padding-left: 0;

                > div {
                    justify-content: center !important;
                    flex-direction: row-reverse;
                }
                p {
                    text-align: center;
                }
                h5 {
                    margin-left: 15px;
                    margin-right: 0;
                }
            }
        }
        .inform-center {
            img {
                margin-top: 10px;
            }
        }        
    }
}

// end benefits
.counter {
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 900;
    text-align: center;
    background-color: #225baf;
    padding-top: 35px;
    padding-bottom: 27px;

    h3 {
        font-family: "Roboto";
        @include font-size(2.5rem);
        font-weight: 900;
    }

    p {
        font-weight: 400;
        @include font-size(1.4rem);
        color: white;
    }
}

@media(max-width: 991px) {
    .counter {
        > div {
            margin-bottom: 20px;
        }
    }
}

// end counter

section.products {
    padding-top: 65px;
    padding-bottom: 57px;
    h2 {
        font-family: "Roboto Black";
        text-align: center;
        color: #225baf;
        text-transform: uppercase;
        @include font-size(1.9rem);
        margin-bottom: 2px;
    }
    p {
        color: #474644;
        font-family: "Roboto Condensed";
        font-weight: 300;
        text-align: center;
        @include font-size(21.5px);
    }
    .pr-list {
        font-family: "Roboto";
        > div {
            margin-top: 43px;
            padding: 0 20px;
            > div {                
                border-radius: 10px;
                border: 2px solid #ffa400;
                padding: 15px 25px;
            }
        }
        .prices {
            display: flex;
            justify-content: space-around;
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        img {
            max-width: 100%;
        }
        button {
            font-family: "Roboto";
            font-weight: 900;
            text-align: center;
            @include font-size(22px);
            width: 100%;
            border-radius: 10px;
            padding: 8px;
            line-height: normal;
            text-transform: uppercase;
        }
        h5 {
            font-size: 67px;
            color: #474644;
            font-weight: 400;
            @include font-size(23px);
        }
        .old {
            @include font-size(28px);
            color: #474644;
            font-family: "Roboto";
            font-weight: 900;
            text-decoration: line-through;
        }
        .new {
            @include font-size(39px);
            color: #225baf;
            font-family: "Roboto";
            font-weight: 900;
            text-align: center;
        }
    }
}

@media(max-width: 1200px) {
    section.products {
        .pr-list {
            > div {
                padding: 0 10px;
            }
        }
    }
}

@media(max-width: 1050px) {
    section.products {
        .pr-list {
            > div {
                > div {
                    padding: 15px 25px;        
                }
            }
        }
    }
}

@media(max-width: 767px) {
    section.products {
        .pr-list {
            > div {
                > div {
                    max-width: 380px;
                    margin: auto;
                }
            }
        }
    }
}

// end products

.comfort {
    padding-top: 140px;
    padding-bottom: 92px;
    background-image: url('../images/big.png');
    background-size: cover;
    background-position: center;
    h2 {
        @include font-size(72px);
        font-family: "Roboto";
        font-weight: 900;
        margin-bottom: 0;
        color: white;
    }
    h5 {
        @include font-size(39px);
        font-family: "Roboto";
        color: white;
    }
    p {
        @include font-size(17px);
        color: #ffffff;
        font-family: "Roboto";
        padding-top: 15px;
        margin-bottom: 1.5rem;
    }
    button {
        @include font-size(23px);
        color: #474644;
        font-family: "Roboto";
        font-weight: 900;
        text-align: center;
        line-height: normal;
        text-transform: uppercase;
        background-color: $yellow;
        border: 2px solid $yellow;
        padding: 8px 20px;
        border-radius: 10px;
        transition: all .3s ease;
        &:hover, &:active, &:focus {
            color: $yellow;
            background-color: transparent;
            cursor: pointer;
        }
    }
}

@media (min-width: 992px) {
    .comfort {
        .content {
            width: 60%;
        }
    }
}
@media (max-width: 767px) {
    .comfort {
        padding-top: 80px;
        padding-bottom: 60px;
    }
}
// end comfort

.col-1-5 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

@media(max-width: 991px) {
    .proecting {
        .col-1-5 {
            width: 33%;
        }
        .items {
            display: flex;
            justify-content: center;
        }
    }    
}

@media(min-width: 768px) {
    .col-1-5 {
        width: 20%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        justify-content: space-between;
    }
}

.proecting {
    padding-top: 65px;
    padding-bottom: 7px;
    h2 {
        font-family: "Roboto";
        font-weight: 900;
        text-align: center;
        color: #225baf;
        text-transform: uppercase;
        @include font-size(1.9rem);
        margin-bottom: 2px;
    }
    p {
        color: #474644;
        font-family: "Roboto Condensed";
        font-weight: 300;
        text-align: center;
        @include font-size(21.5px);
    }
    .items {
        padding-top: 15px;
        .head-parent {
            height: 60px;
            display: flex;
            align-items: center;
        }
        h5 {
            color: $yellow;
            font-family: "Roboto";
            font-weight: 400;
            text-align: center;
            @include font-size(22px);
            text-transform: uppercase;
            margin-bottom: 0;
        }
        img {
            // max-width: 100%;
            max-width: 130px;
            margin-top: 25px;
            margin-bottom: 35px;
            max-height: 130px;
            margin-left: auto;
            margin-right: auto;
        }
        button {
            font-family: "Roboto";
            font-weight: 900;
            text-align: center;
            @include font-size(20px);
            border-radius: 10px;
            text-transform: uppercase;
            line-height: normal;
        }
    }
}

@media(max-width: 720px) {
    .proecting {
        .col-1-5 {
            width: 100%;
        }
        .items {
            display: block;
            img {
                display: block;
            }
        }
    }    
}
// end proecting

footer {
    background-image: url('../images/footer-bg.png');
    background-size: cover;
    background-position: center;
    padding-top: 60px;
    padding-bottom: 60px;

    h5 {
        @include font-size(30px);
        color: $yellow;
        font-family: "Roboto";
        font-weight: 900;
        margin-bottom: 35px;
        text-align: center;
        text-transform: uppercase;
    }

    .contacts-container {
        padding: 0 60px;
    }

    .contacts-after {
        position: relative;

        &::before {
            display: block;
            content: '';
            position: absolute;
            border: 2px solid white;
            border-left-color: transparent;
            border-top-color: transparent;
            width: 100px;
            height: 100px;
            top: -100px;
            right: 0;
            z-index: 2;
        }

        &::after {
            display: block;
            content: '';
            position: absolute;
            border: 2px solid white;
            border-right-color: transparent;
            border-top-color: transparent;
            width: 100px;
            height: 100px;
            top: -100px;
            z-index: 2;
            left: 0;
        }
    }
    .contacts {
        padding: 50px 60px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;

        &::before {
            display: block;
            content: '';
            position: absolute;
            border: 2px solid white;
            border-left-color: transparent;
            border-bottom-color: transparent;
            width: 100px;
            height: 100px;
            top: 0;
            right: 0;
            z-index: 2;
        }

        &::after {
            display: block;
            content: '';
            position: absolute;
            border: 2px solid white;
            border-right-color: transparent;
            border-bottom-color: transparent;
            width: 100px;
            height: 100px;
            top: 0;
            z-index: 2;
            left: 0;
        }

        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .circle {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 133px;
            height: 133px;
            border-radius: 100%;
            background-color: #225baf;
            margin-bottom: 1.5rem;

            img {
                height: 70px;
                &.envelope {
                    height: 53px;
                }
                &.iphone {
                    height: 75px;
                }
            }
        }

        h5 {
            @include font-size(27px);
            color: #ffffff;
            font-family: "Roboto";
            font-weight: 400;
            text-transform: uppercase;
            border-bottom: 2px solid white;
            padding-bottom: 10px;
            margin-bottom: 1.5rem;
        }

        p {
            @include font-size(18px);
            color: #ffffff;
            font-family: "Roboto Condensed";
            font-weight: 300;
        }

    }

    .econom-container {
        position: relative;
        margin-top: 160px;
        h3 {
            margin-left: 20%;
            text-transform: uppercase;
            color: white;
            @include font-size(39px);
            font-family: "Roboto Black";
            &::before {
                display: block;
                content: '';
                position: absolute;
                border: 2px solid white;
                border-left-color: transparent;
                border-bottom-color: transparent;
                width: 40%;
                height: 283px;
                top: -120px;
                right: 20%;
                z-index: 2;
                margin: auto;
            }  
            &::after {
                display: block;
                content: '';
                position: absolute;
                border: 2px solid white;
                border-top-color: transparent;
                border-bottom-color: transparent;
                border-right-color: transparent;
                width: 40%;
                height: 110px;
                top: -120px;
                right: 20%;
                z-index: 2;
                margin: auto;
            }  
        }
        button {
            font-family: "Roboto";
            font-weight: 900;
            text-align: center;
            border-radius: 10px;
            text-transform: uppercase;
            margin-left: 50px;
            position: relative;
            z-index: 3;
            @include font-size(22px);
            line-height: normal;
        }
    }
}

@media(max-width: 1200px) {
    footer {
        .contacts {
            padding: 55px;    
        }
    }
}

@media(max-width: 991px) {
    footer {
    
        .contacts-container {
            padding: 0 10px;
        }
        .contacts {
            padding: 30px;
    
            .circle {
                width: 100px;
                height: 100px;
    
                img {
                    height: 50px;
                    &.envelope {
                        height: 40px;
                    }
                    &.iphone {
                        height: 54px;
                    }
                }
            }
        
            p {
                text-align: center;
            }
    
        }
    
        .econom-container {
            h3 {
                
                &::before {
                    height: 202px;
                    top: -60px;
                    right: 15px;
                }  
                &::after {
                    height: 50px;
                    top: -60px;
                    right: 15px;
                }  
            }
        }
    }
}

@media(max-width: 767px) {
    footer {
        
        .contacts-container {
            margin-top: 30px;
            padding: 0 50px;
        }

        .contacts {
            flex-direction: column;
    
            .item {
                margin-bottom: 30px;
            }
        }
    
    }
}

@media(max-width: 510px) {
    footer {
        .contacts {
            .circle {
                height: 90px;
                width: 90px;
            }
            h5 {
                font-size: 23px;
            }    
        }
    
        .econom-container {
            h3 {
                margin-left: 0;
                padding: 0;
                font-size: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
            button {
                margin-top: 10px;
                margin-left: 0;
                font-size: 18px;
            }
        }
    }
}

@media(max-width: 400px) {
    footer {    
        .contacts-container {
            margin-top: 30px;
            padding: 0 50px;
        }
    
        .contacts {
            flex-direction: column;
    
            .item {
                margin-bottom: 30px;
            }
        }
    }
}

// end footer

.montage {
    padding-bottom: 20px;
    border-bottom: 10px solid $yellow;
    .title {
        background-color: rgba(0, 0, 0, 0.75);
        padding-top: 45px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        h2 {
            font-family: "Roboto";
            font-weight: 900;
            text-align: center;
            color: $yellow;
            @include font-size(1.9px);
            margin-bottom: 2px;
            text-transform: uppercase;
        }
        p {
            color: white;
            font-family: "Roboto Condensed";
            font-weight: 300;
            text-align: center;
            @include font-size(21.5px);
        }
    }
    h5 {
        margin-top: 25px;
        margin-bottom: 20px;
        color: #225baf;
        font-family: "Roboto";
        font-weight: 400;
        text-align: center;
        @include font-size(22px);
        text-transform: uppercase;
    }
    p {
        color: #474644;
        font-family: "Roboto Condensed";
        font-weight: 300;
        text-align: center;
        @include font-size(18px);
    }
    .cont, .container {
        height: 100%;
        position: relative;
    }
    .vert-line {
        width: 3px;
        background-color: $yellow;
        height: 100%;
        margin: auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .inform {
        padding-right: 145px;
        margin-bottom: 35px;
        .img-container {
            position: relative;
            .dot {
                width: 24px;
                height: 24px;
                background-color: #ffa400;
                position: absolute;
                right: -12px;
                top: calc(50% - 12px);
                border-radius: 100%;
            }
            .line {
                width: 145px;
                height: 3px;
                background-color: #ffa400;
                position: absolute;
                right: -145px;
                top: calc(50% - 1px);
            }
        }
        img {
            max-width: 100%;
            border: 3px solid $yellow;
            border-radius: 10px;            
        }
        &.left {
            &:first-child {
                margin-top: 40px;
            }
            p, h5 {
                text-align: right;
                padding-right: 50px;
            }
        }
        &.right {            
            padding-right: 0;
            padding-left: 145px;
            &:first-child {
                margin-top: 145px;
            }
            &:nth-child(2) {
                margin-bottom: 75px;
            }
            p, h5 {
                text-align: left;
                padding-left: 50px;
            }
            .dot {
                right: auto;
                left: -12px;
            }
            .line {
                right: auto;
                left: -145px;
            }
        }
    }
    .line-container {
        z-index: -1;
        position: absolute;
        height: 90%;
        text-align: center;
        margin: auto;
        left: 0;
        right: 0;
        img {
            width: 80px;
        }
        .revert {
            -moz-transform: rotate(180deg); /* Для Firefox */
            -ms-transform: rotate(180deg); /* Для IE */
            -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
            -o-transform: rotate(180deg); /* Для Opera */
            transform: rotate(180deg);
        }
    }
}

@media(max-width: 991px) {
    .montage {        
        .inform {
            padding-right: 100px;
            .img-container {
                .line {
                    right: -100px;
                    width: 100px;
                }
            }
            &.right {
                padding-left: 100px;
                .line {
                    left: -100px;
                }
            }
        }
    }    
}

@media(max-width: 767px) {
    .montage {
        .vert-line {
            margin-left: 39px;
        }
        
        .inform {
            padding-right: 0;
            padding-left: 100px;
            &.left {
                p, h5 {
                    text-align: left;
                    padding-right: 0;
                    padding-left: 30px;
                }
            }
            &.right {
                &:first-child {
                    margin-top: 0;
                }
                p, h5 {
                    text-align: left;
                    padding-right: 0;
                    padding-left: 30px;
                }
            }
            .img-container {
                .dot {
                    right: 0;
                    left: -12px;
                }
                .line {
                    width: 75px;
                    left: -75px;
                }
            }
        }
        .line-container {
            text-align: left;
        }
    }    
}

@media(max-width: 500px) {
    .montage {
        .vert-line {
            margin-left: 29px;
        }
        
        .inform {
            padding-right: 0;
            padding-left: 90px;
            &.right {
                padding-left: 90px;
            }
            .img-container {
                .dot {
                    right: 0;
                    left: -12px;
                }
                .line {
                    width: 75px;
                    left: -75px;
                }
            }
        }
        .line-container {
            img {
                max-width: 60px;
            }
        }
    }    
}

@media(max-width: 400px) {
    .montage {
        .vert-line {
            margin-left: 29px;
        }        
        .inform {
            padding-right: 0;
            padding-left: 50px;
            &.right {
                padding-left: 50px;
            }
            .img-container {
                .line {
                    width: 35px;
                    left: -35px;
                }
            }
        }
    }    
}

@media(min-width: 768px) {
    .montage {
        .cont {
            .col-md-6 {
                &.left {
                    padding-right: 0;
                }
                &.right {
                    padding-left: 0;
                }
            }
        }
    }
} 

// end montage


//* Montage Page *//
// start proecting
.list-cont {
    padding: 10px 42px;
    border: 1px solid #cbdef4;
    border-radius: 1px;
    margin-top: 15px;
    h3 {
        font-family: "Roboto Black";
        @include font-size(2.85rem);
        color: #474644;
        text-align: center;
    }
    ul {
        list-style-type: none;
        padding-left: 0;
        font-family: "Roboto Condensed Light";
        @include font-size(2.85rem);
        color: #474644;
        li {
            line-height: 2.85rem;
            img {
                width: 55px;
                margin-right: 21px;                
            }
        }
    }
}
@media(max-width: 768px) {
    .list-cont {
        padding: 10px 25px;
        ul {
            li {
                img {
                    width: 45px;
                    margin-right: 12px;
                }
            }
        }        
    }
}
@media(max-width: 420px) {
    .list-cont {
        padding: 10px 15px;
        ul {
            li {
                img {
                    width: 40px;
                    margin-right: 10px;
                }
            }
        }        
    }
}
// end proecting

// start separator
.separator {
    padding: 17px 0;
    background-color: #225baf;
    color: white;
    b {
        font-family: "Roboto Black";
        @include font-size(2rem);
    }
    &.white {
        padding-top: 0;
        padding-bottom: 50px;
        background-color: white;
        color: #225baf;
        text-transform: uppercase;
    }
    .m-t {
        @include font-size(1.55rem);
        line-height: 1.85rem;
        font-family: "Roboto Regular";
    }
}
// end separator

// start plan
.plan {
    padding-top: 35px;
    padding-bottom: 35px;
    position: relative;
    .math {
        .plus {
            position: absolute;
            height: 39px;
            top: 55%;
            left: calc(33% + 33px);
        }
        .equals {
            position: absolute;
            width: 35px;
            top: calc(55% + 5px);
            left: calc(63% - 5px);
            z-index: 2;
        }
        .math-item {
            .title {
                height: 80px;
                margin-bottom: 10px;
                text-transform: uppercase;
                text-align: center;
                font-family: "Roboto Condensed Light";
                @include font-size(1.1rem);
            }
            img {
                max-width: 100%;
            }
            &:nth-of-type(2) {
                img {
                    margin-top: 20px;
                }
            }
            &:last-of-type {
                img {
                    padding-left: 15px;
                }
            }
        }
    }
}
@media (min-width: 1500px) {
    .plan {
        .math {
            .plus {
                left: calc(33% + 10px);
            }
            .equals {
                left: calc(66% - 45px);
            }
        }
    }
}
@media (min-width: 1700px) {
    .plan {
        .math {
            .plus {
                left: calc(33% + 33px);
            }
            .equals {
                left: calc(66% - 71px);
            }
        }
    }
}
@media (min-width: 1800px) {
    .plan {
        .math {
            .plus {
                left: calc(33% + 60px);
            }
            .equals {
                left: calc(66% - 80px);
            }
        }
    }
}

@media (max-width: 1500px) {
    .plan {
        .math {
            .plus {
                left: 33%;
            }
            .equals {
                left: 66%;
            }
            .math-item {
                &:nth-of-type(2) {
                    img {
                        padding-left: 25px;
                    }
                }
                &:last-of-type {
                    img {
                        padding-left: 45px;
                    }
                }
            }
        }
    }
}
@media (max-width: 1300px) {
    .plan {
        .math {
            .plus {
                left: calc(33% - 15px);
                width: 30px;
                height: auto;
            }
            .equals {
                width: 30px
            }
        }
    }
}
@media (max-width: 991px) {
    .plan {
        .math {
            .plus, .equals {
                position: relative;
                width: 40px;
                margin: auto;
                left: 0;
                right: 0;
                padding-top: 45px;
            }
            .math-item {
                text-align: center;
                .title {
                    @include font-size(1.75rem);
                    height: max-content;
                    margin-bottom: 25px;
                }
                img {
                    padding: 0;
                    max-width: 600px;
                    width: 100%;
                }
            }
        }
    }
}
@media (max-width: 520px) {
    .plan {
        .math {
            .plus, .equals {
                width: 30px;
            }
        }
    }
}
// end plan

// start grad
.grad-section {
    position: relative;
    &.bottom {
        .containe {
            margin-top: 75px;
            margin-bottom: 75px;
            .item {
                &:first-of-type {
                    background-color: #225baf;
                    padding-left: 3%;
                    padding-right: 6%;
                    .t1 {
                        color: white;
                    }
                }
            }
        }
        .btn {
            &:focus {
                background-color: #FFA400;
                border-color: #FFA400;
                color: black;
            }
            &:hover {
                color: #FFA400;
                border-color: #FFA400;
                background-color: transparent;
            }
            background-color: #FFA400;
            border-color: #FFA400;
            color: black;
        }
    }
    .item {        
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
        &:last-of-type {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    .grad {
        width: 50%;
        position: absolute;
        height: 100%;
        background: #FFA400;
        &::after {
            position: absolute;
            right: 0;
            content: '';
            width: 0;
            height: 0;
            top: 0;
            z-index: 99;
            border-top: 200px solid white;
            border-left: 85px solid transparent;
        }
    }
    .t1, .t2 {
        color: #474644;
        text-align: center;
    }
    .t1 {
        @include font-size(1.65rem);
        line-height: 1.9rem;
        font-family: "Roboto Regular";
        a {
            font-family: "Roboto Black";
            &:hover {
                text-decoration: none;
            }
        }
    }
    .t2 {
        @include font-size(2rem);
        line-height: 2.3rem;
        padding-top: 5px;
        padding-bottom: 10px;
        font-family: "Roboto Black";
    }
    .btn {
        font-family: "Roboto Black";
        text-align: center;
        @include font-size(1.35rem);
        border-radius: 10px;
        text-transform: uppercase;
        line-height: normal;
        margin-top: 20px;
        padding: 12px 15px;
        &:hover {
            text-decoration: none;
        }
    }
}

@media (max-width: 1440px) {
    .grad-section {        
        .t1 {
            @include font-size(1.45rem);
            line-height: 1.7rem;
        }
        .t2 {
            @include font-size(1.75rem);
            line-height: 2.1rem;
            padding-top: 5px;
            padding-bottom: 10px;
            font-family: "Roboto Black";
        }
        .btn {
            @include font-size(1.2rem);
            padding: 10px 13px;
            white-space: normal;
        }
    }   
}

@media (max-width: 1200px) {
    .grad-section {
        &.bottom {
            .grad:after {
                border-top-width: 200px;
            }
            .t1 {
                @include font-size(1.4rem);
                line-height: 1.65rem;
            }
        }
        .item {
            padding-left: 27px;
            padding-right: 27px;
        }
    }   
}
@media (max-width: 1065px) {
    .grad-section {     
        .item {
            padding-left: 15px;
            padding-right: 15px;
        }
    }   
}

@media (max-width: 991px) {
    .grad-section {
        &.bottom {
            .t1 {
                @include font-size(1.45rem);
                line-height: 1.7rem;
            }
        }
        .grad {
            display: none;
        }
        .t2 {
            line-height: 1.5rem;
            padding: 0;
        }
        .item {
            &:first-of-type {
                background-color: #FFA400;
            }
            &:last-of-type {
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }
    }   
}

.line-separator {
    background-color: #FFA400;
    height: 3px;
    margin-top: 75px;
    margin-bottom: 75px;
}
// end grad

// start mont-ge
.mont-ge.products {
    .main-img {
        height: 580px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }
    .item {
        .num {
            display: none;
        }
        @include font-size(1.55rem);
        line-height: 1.75rem;
        font-family: "Roboto Regular";
        &:first-of-type {
            text-align: right;
            ul {
                li {
                    padding-right: 20px;
                }
            }
        }
        ul {
            list-style-type: none;
            li {
                margin-top: 25px;
                margin-bottom: 64px;
                height: 55px;
                text-align: center;
            }
        }
    }
    .l-circle {
        float: left;
        height: 580px;
        width: 580px;
        // margin-left: 120px;
        shape-outside: circle(50% at 0 50%);
    }
    .r-circle {
        float: right;
        height: 580px;
        width: 580px;
        // margin-right: 120px;
        shape-outside: circle(50% at 100% 50%);
    }
    p {
        color: #225baf;
        margin-top: 35px;
        margin-bottom: 35px;
        font-family: "Roboto Regular";
        @include font-size(1.55rem);
    }
}
@media(max-width: 1440px) {
    .mont-ge.products {
        .main-img {
            height: 500px;
        }
        .item {
            @include font-size(1.45rem);
            line-height: 1.7rem;
            ul {
                li {
                    margin-bottom: 40px;
                    height: 55px;
                }
            }
        }
        .l-circle, .r-circle {
            height: 500px;
            width: 500px;
        }
        p {
            @include font-size(1.45rem);
        }
    }
}

@media(max-width: 1360px) {
    .mont-ge.products {
        .main-img {
            height: 450px;
        }
        .item {
            @include font-size(1.3rem);
            line-height: 1.5rem;
            ul {
                li {
                    margin-bottom: 30px;
                }
            }
        }
        .l-circle, .r-circle {
            height: 450px;
            width: 450px;
        }
    }
}

@media(max-width: 1200px) {
    .mont-ge.products {
        .main-img {
            height: 375px;
        }
        .item {
            @include font-size(1.2rem);
            line-height: 1.5rem;
            ul {
                list-style-type: none;
                li {
                    margin-bottom: 25px;
                    height: 48px;
                }
            }
        }
        .l-circle, .r-circle {
            height: 400px;
            width: 400px;
        }
    }
}

@media(max-width: 991px) {
    .mont-ge.products {
        padding-left: 15px;
        padding-right: 15px;
        .parent {
            flex-direction: column;
            br {
                display: none;
            }
        }
        .main-img {
            position: relative;
            width: 100%;
            height: auto;
            max-width: 580px;
            padding-left: 10px;
            padding-right: 10px;
        }
        .item {
            @include font-size(1.55rem);
            line-height: 1.75rem;
            .num {
                display: inline-block;
                padding-right: 10px;
            }
            &:first-of-type {
                .num {
                    color: #225baf;
                }
                text-align: left;
                ul {
                    margin-top: 50px;
                    margin-bottom: 0;
                }
            }
            &:last-of-type {
                .num {
                    color: #FFA400;
                }
                display: flex;
                flex-direction: column-reverse;
            }
            ul {
                list-style-type: none;
                li {
                    margin-top: 0;
                    margin-bottom: 15px;
                    text-align: left;
                    height: auto;
                }
            }
        }
        .l-circle, .r-circle {
            display: none;
        }
    }
}
// end mont-ge

// start line-ul
.blue {
    background-color: #225baf !important;
    color: white;
}
.line-ul {
    padding: 55px 12%;
    padding-left: 12%;
    padding-right: 6%;
    position: relative;
    height: max-content;
    .l-line {
        top: 0;
        position: absolute;
        height: 100%;
        width: 9px;
        background-color: white;
    }
    .item {
        display: flex;
        align-items: center;
        font-family: "Roboto Condensed Light";
        line-height: 2rem;
        @include font-size(1.7rem);
        &:not(:last-of-type) {
            margin-bottom: 30px;
        }
        .circle {
            display: block;
            width: 36px;
            min-width: 36px;
            height: 36px;
            z-index: 2;
            -moz-border-radius: 50%;
            border-radius: 50%;
            background-color: #225baf;
            border: 11px solid white;
            margin-right: 20px;
            margin-left: -13.5px;
        }
    }
}
@media (max-width: 1400px) {
    .line-ul {
        .item {
            line-height: 1.9rem;
            @include font-size(1.65rem);
        }
    }
} 
@media (max-width: 1200px) {
    .line-ul {
        padding: 55px 7%;
    }
}
@media (max-width: 991px) {
    .line-ul {
        .l-line {
            width: 7px;
        }
        .item {
            .circle {
                width: 30px;
                min-width: 30px;
                height: 30px;
                margin-left: -11.5px;
                border-width: 9px;
                border-radius: 100%;
                margin-right: 15px;
            }
        }
    }
}
@media (max-width: 991px) {
    .line-ul {
        padding: 50px 25px;
    }
}
// end line-ul

// product page

// start table
.data-info {
    padding: 50px 0;
    table {
        max-width: 950px;
        border: 1px solid #dee2e6;
        @include font-size(1.05rem);
        line-height: 1.15rem;
        font-family: "Roboto Regular";
        color: #474644;
        tr {
            td {
                padding-left: 40px;
                padding-right: 40px;
            }
            td:first-child {
                color: #797977;
                border-right: 1px solid #dee2e6;
            }
        }
    }
}
.charact {
    border-bottom: 3px solid $yellow;
    .info {
        background-color: $yellow;
        color: #474644;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border: 1px solid $yellow;
        font-size: 16px;
        font-family: "Roboto Regular";
        text-transform: uppercase;
        line-height: 1.5rem;
        display: inline-block;
        padding: 10px 20px 7px 20px;
        @include font-size(1.25rem);
    }
}
.additional {
    margin-top: 100px;
    .row {
        justify-content: center;
    }
    img {
        max-width: 85px;
        margin-bottom: 5px;
        max-height: 90px;
        margin-left: auto;
        margin-right: auto;
    }
    h5 {
        font-family: "Roboto Regular";
        text-align: center;
        @include font-size(1.05rem);
        line-height: 1.2rem;
        text-transform: uppercase;
    }
}
@media (max-width: 1400px) {
    .data-info {
        table {
            max-width: 900px;
        }
    }
}
@media (max-width: 1200px) {
    .data-info {
        table {
            max-width: 850px;
        }
    }
}
@media (max-width: 991px) {
    .data-info {
        table {
            max-width: 850px;
        }
    }
    .additional {
        .col-1-5 {
            width: 25%;
        }
    }
}
@media (max-width: 768px) {
    .data-info {
        table {
            tr {
                td {
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
        }
    }
    .additional {
        .col-1-5 {
            width: 100%;
        }
    }
}
// end table

// start product info
.product-info {
    margin-top: 75px;
    h1 {
        @include font-size(2.12rem);
        padding-left: 5px;
        padding-right: 5px;
        font-family: "Roboto Black";
        color: #474644;
        border-bottom: 1px solid #cbdef4;
        display: inline-block;
        margin-bottom: 50px;
    }
    #galley {
        .img-main {
            border: 1px solid #cbdef4;
            height: 350px;
            text-align: center;
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        ul {
            list-style-type: none;
            padding-left: 0;
            margin-top: 50px;
            li {
                max-height: 100px;
                text-align: center;

                span {
                    border: 1px solid #cbdef4;
                    display: inline-block;
                    width: 95%;
                    text-align: center;
                }
            }
            img {
                max-width: 100%;
                height: 80px;
            }
        }
    }
    .desc {
        .price-info {
            max-width: 210px;
            font-family: "Roboto Black";
            color: #474644;
            @include font-size(1.7rem);
            text-transform: uppercase;
            text-align: center;
            .old {
                text-decoration: line-through;
                text-align: right;
                @include font-size(2rem);
            }
            .new {
                color: #225baf;
                text-align: right;
                margin-left: 25px;
                @include font-size(2.3rem);
            }
            button {
                font-family: "Roboto Black";
                margin-top: 20px;
                @include font-size(22px);
                border-radius: 10px;
                padding: 4px 45px;
                line-height: normal;
                text-transform: uppercase;
            }
        }
        .description {
            padding-top: 50px;
            padding-bottom: 50px;
            font-family: 'Roboto Condensed Light';
            @include font-size(1.4rem);
            line-height: 1.75rem;
        }
    }
}
// end product info